{% load crispy_forms_tags %}

<div class="card-footer">
    <div>
        <form method="post" action="{% url 'article:detail' article.pk %}">
            {% csrf_token %}
            {{ form|crispy }}
            
            <div class="d-flex justify-content-center gap-2 mt-3 flex-wrap">
                <button class="btn btn-outline-secondary btn-sm" type="submit" name="action" value="comment">Comentar</button>
                <button class="btn btn-warning btn-sm" type="submit" name="action" value="draft">Enviar a borradores</button>
                <button class="btn btn-secondary btn-sm" type="submit" name="action" value="pending">Enviar a revisión</button>
                <a class="btn btn-info btn-sm" href="{% url "article:update" article.pk %}">Editar</a>
                <a class="btn btn-danger btn-sm" href="{% url "article:delete" article.pk %}">Eliminar</a>
            </div>

        </form>
    </div>

</div>