{% extends "../general/layout-base.html" %}

{% load crispy_forms_tags %}

{% block head_title %}Nuevo Artículo{% endblock head_title %}

{% block page_content %}
    <div>
        <h1>Nuevo Artículo</h1>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.title|as_crispy_field }}
            {{ form.content|as_crispy_field }}            
            {{ form.category|as_crispy_field }}
            {{ form.cover_image|as_crispy_field }}
            <button class="btn btn-primary">Publicar</button>
        </form>
    </div>
{% endblock %}